*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
html,body{
    height: 100%;
    width: 100%;   
}
#main{
    height: 100%;
    width: 100%;
}
nav{
    height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between;
    align-items: flex-end;
}
nav>#quote{
    font-size: 2.9vh;
    line-height: 2.7vh;
    padding: 5px;
    
    
}
nav>#links{   
    font-size: 15px;
    font-weight: 500;
}
nav>#links>a{
    color: rgb(25, 25, 25);
    opacity: .5;
    text-decoration: none;
    padding: 15px;
    text-transform: capitalize;
    margin: 3px;
    
    
}
nav>#links>a:hover{
    opacity: 1;
    color: black;
    text-decoration: 5px solid overline #D59A02;
    font-size: 17px;
    
}
#menu{
    background-color: rgb(213, 154, 2);
    height: 100%;
    width: 6vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}
#body{
    width: 100%;
    height: 67%;
    margin-top: 50px;
    display: flex;
    justify-content: center;align-items: center;
}
#body>#body2{
    
    width: 85vw;
    height:100%;  
    display: flex;
    justify-content: space-between;  
}

span{
    padding: 0 30px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
#base{
    height: 15%;
    
    display: flex;
    justify-content: center;
    text-align: center;
}
#base>a{
    color: rgb(25, 25, 25);
    opacity: .6;
    text-decoration: none;
    padding: 15px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    
    
}
#base>a:hover{
    opacity: 1;
    color: black;
    text-decoration: 5px solid underline #D59A02;
    line-height: 4px;
}
#body2>#c1{
    height: 100%;
    width: 17%; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}   

.img{
    height: 100%;
    width: 100%;
    mix-blend-mode: color-burn;
    background-color: rgb(87, 84, 84);
}
#body2>#c1>#c1e1{
    width: 100%;
    height: 49%;
    background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1896&q=80);
    background-size: cover;
    
  
}
#body2>#c1>#c1e2{
    width: 100%;
    height: 49%;
    background-image: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
}
#body2>#c2{
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
#body2>#c2>#c2e1{
    width: 100%;
    height: 49%;
    background-image: url(https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80);
    background-size: cover;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}
#c2e1:hover{
    transform: scale(1.05);
    
}


#body2>#c2>#c2e2{
    width: 100%;
    height: 49%;
    background-image: url(https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
}
#body2>#c3{
    height: 100%;
    width: 32%;
    background-image: url(https://images.unsplash.com/photo-1563219996-45f1a0ba692e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
}   
#body2>#c4{
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#body2>#c4>#c4e1{
    width: 100%;
    height: 49%;
    background-image: url(https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
}
#body2>#c4>#c4e2{
    width: 100%;
    height: 49%;
    background-image: url(https://img.xshoppy.shop/uploader/b2eeaaf88410c20cec6976cfe97ac764.jpg);
    background-size: cover;
}   
#c1e1:hover,#c1e2:hover,#c2e1:hover,#c2e2:hover,#c3:hover,#c4e1:hover,#c4e2:hover{
    cursor: pointer;
    border: 3px solid #D59A02;
}
#menu:hover{
    cursor: pointer;
    background-color: #ca9306;
}
#quote:hover{
    cursor: pointer;
    background-color:#D59A02;
    color: #6b1e00;
}

